{% extends 'music/base.html' %}
{% block title %}Add a New Album{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Album</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is OnlineDj?</h3>
                    <p>OnlineDj is an app that allows users to upload and store music on the cloud.</p>
                    <h3>Steps to add music:</h3>
                    <p>First, create a new album by filling out the form on this page.</p>
                    <p>Next, start adding/uploading songs.</p>
                    <h4><strong>Note:</strong>The resolution of the Album logo have to be 512x512</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
